# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Testing
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Migrations cache
*.db